<!DOCTYPE html>
<html>
  <head>
    <title>Habalex BookMark Manager - Bookmark View</title>
  </head>
  <body>
    <h1>Bookmark List</h1>
    <table>
      <tr>
        <th>URL</th>
      </tr>
      <% @bookmarks.each do |bookmark| %>
        <tr>
          <td><a href="<%= bookmark['url'] %>" target="_blank"><%= bookmark['title'] %></a></td>
          <td><form action="/delete" method="post">
            <button type="submit" name="deletion" value="<%= bookmark['title'] %>"><%="Delete #{bookmark['title']}"%></button>
          </form></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
