<!DOCTYPE html>
<html>
  <head>
    <title>Habalex BookMark Manager</title>
  </head>
  <body>
    <div class="welcome">
      <h1>Welcome to Habalex BookMark Manager</h1>
    </div>

    <div class="prompt">
      <p>Click below to access your bookmarks</p>
    </div>

    <form action='/bookmarks' method='get'>
      <button type="submit">View Bookmarks</button>
    </form>

    <form action='/add' method='post'>
      <input type='text' name='Add_url' placeholder="Enter URL"></input>
      <input type="text" name="Add_title" placeholder="Enter Title"></input>
      <button type="submit">Add bookmark</button>
    </form>
  </body>
</html>
